header {
  width: 100%;
  /*border: 2px solid red;*/
  height: 100px;
  padding: 40px 100px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

.logo {
  display: inline-block;
}

.nav {
  margin-left: 200px;
}

.nav,
.list-item {
  display: inline-block;
}

.list-item {
  margin-left: 50px;
}

.banner-container {
  width: 100%;
  height: 722px;
  border: 2px solid green;
  background-image: url("../images/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-size: 96px;
  color: #fff;
  font-weight: bold;
  line-height: 115px;
}

.desc {
  font-size: 20px;
  color: #fff;
  margin: 5px 0px 79px 0px;
}

.book-now-btn,
.discover-now-btn {
  background-color: #ff5403;
  font-size: 18px;
  color: #fff;
}

.book-now-btn {
  padding: 13px 50px;
  margin-left: 195px;
}

.discover-now-btn {
  display: inline-block;
  padding: 22px 64px;
  margin-left: 0px;
}

.dest {
  width: 1400px;
  margin: 100px auto;
  padding: 20px 0px;
}

h2 {
  font-size: 32px;
  color: #fff;
}

.img-wrapper {
  border: 2px solid green;
  display: inline-block;
  position: relative;
}

.img-wrapper h2 {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 300px;
  background-color: purple;
  padding: 5px 20px;
  transform: translate(-50%);
  text-align: center;
  border-radius: 0px 0px 16px 16px;
}

/*.wrapper {
  width: 500px;
  height: 400px;
  background-color: green;
  position: relative;
}

.box {
  width: 150px;
  height: 150px;
}

.box-1 {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.box-2 {
  background-color: yellow;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 2;
}

.box-3 {
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 100px;
}*/
